<section #setBanner class="header min-[500px]:h-[65vh] min-[770px]:h-[77vh] min-[1028px]:h-[100vh] w-full h-[100vh]">
    <nav class="flex justify-between items-center px-6 pt-5 relative">
        <a href="" class="text-white text-2xl min-[545px]:text-[35px]">WorkBook</a>
        <div class="group flex items-center gap-5">
            <ul class="text-white text-[19px] min-[925px]:flex max-[925px]:absolute max-[925px]:bg-black max-[925px]:text-white max-[925px]:top-full max-[925px]:left-0 max-[925px]:right-0 max-[925px]:opacity-[90%]"
                *ngIf="menuVisible">
                <li><a class="p-5 block hover:bg-slate-200 hover:text-black select-none" href="">Home</a></li>
                <li><a class="p-5 block hover:bg-slate-200 hover:text-black select-none" href="/books">Books</a></li>
                <li><a class="p-5 block hover:bg-slate-200 hover:text-black select-none" href="/about">About</a></li>
                <li><a class="p-5 block hover:bg-slate-200 hover:text-black select-none" href="/contact">Contact</a>
                </li>
            </ul>
            <i class="fa-solid fa-bag-shopping text-[30px] cursor-pointer text-white" pBadge value="1" severity="danger"
                (click)="showBag()"></i>
            <div class="min-[925px]:hidden">
                <i class="toggleIcon {{icon}} text-[30px] cursor-pointer w-7 text-white align-bottom"
                    (click)="toggleIcon()"></i>
            </div>
        </div>
    </nav>
    <!-- <section class="flex justify-center items-center gap-2 flex-col h-[80%]">
        <h1 class="text-[25px] min-[775px]:text-[50px] text-white">BOOK'S</h1>
        <h2 class="text-white text-[15x] min-[775px]:text-[30px] font-light">MULTIPURPOSE STORE</h2>
        <a routerLink=""
            class="bg-slate-200 py-2 px-7 font-bold min-[775px]:py-3 min-[775px]:px-[70px] transition duration-150 ease-out hover:bg-slate-500 hover:text-white">SHOP
            NOW</a>
    </section> -->
    <!-- <section class="flex justify-center items-center gap-2 flex-col h-[80%]">
        <h1 class="text-[25px] min-[775px]:text-[50px] text-white">BOOKSHELVES</h1>
        <h2 class="text-white text-[15x] min-[775px]:text-[30px] font-light">Choose and read your favorite books!</h2>
        <a routerLink=""
            class="bg-slate-200 py-2 px-7 font-bold min-[775px]:py-3 min-[775px]:px-[70px] transition duration-150 ease-out hover:bg-slate-500 hover:text-white rounded-3xl">EXPLORE
        </a>
    </section> -->
    <section #titleBanner class="flex justify-center items-center gap-2 flex-col h-[80%]"></section>
</section>

<p-sidebar [(visible)]="sidebarVisible" [style]="{width:witdthBag}" position="right">
    <ng-template pTemplate="header">
        <h3 class="text-green-700 font-bold">Shoping Cart</h3>
    </ng-template>
    <p-divider />
    <ng-template pTemplate="content">
        <section>
            <div class="flex items-center gap-4">
                <figure class="w-[60px] h-[60px]">
                    <img class="w-full h-full object-cover object-center"
                        src="../../../assets/img/671822c2f63dd5f65d8fd15c9710420b.jpg" alt="">
                </figure>
                <div class="infor">
                    <h4 class="font-bold">POSTER V1</h4>
                    <h4>1 x 14.9đ</h4>
                </div>
                <i class="fa-regular fa-circle-xmark text-[20px] cursor-pointer active:text-red-500 ml-auto"></i>
            </div>
            <p-divider />
        </section>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-divider />
        <section>
            <div class="flex justify-between">
                <h4 class="text-green-700 font-bold">Subtotal: </h4>
                <h4>49</h4>
            </div>
        </section>
        <p-divider />
        <section class="flex flex-col gap-2">
            <a routerLink="" class="bg-[#74a84a] block text-white text-center py-3 hover:bg-green-700">
                VIEW CART
            </a>
            <a routerLink="" class="bg-[#74a84a] block text-white text-center py-3 hover:bg-green-700">
                CHECKOUT
            </a>
        </section>
    </ng-template>
</p-sidebar>