<section class="my-10">
    <h1 class="text-center text-[40px]">Welcome to WorkBook</h1>
    <section class="flex flex-wrap justify-center items-center gap-4 mb-7">
        <div
            class="boxInfor text-white flex flex-col justify-center items-center w-[250px] h-[150px] bg-[#075985] rounded-md relative">
            <i class="fa-solid fa-book text-[25px] mb-2"></i>
            <h3>Books we have</h3>
            <h3>100000</h3>
        </div>
        <div
            class="boxInfor text-white flex flex-col justify-center items-center w-[250px] h-[150px] bg-[#86198f] rounded-md relative">
            <i class="fa-regular fa-user text-[25px] mb-2"></i>
            <h3>Total Users</h3>
            <h3>100000</h3>
        </div>
        <div
            class="boxInfor text-white flex flex-col justify-center items-center w-[250px] h-[150px] bg-[#9d174d] rounded-md relative">
            <i class="fa-regular fa-heart text-[25px] mb-2"></i>
            <h3>Happy Users</h3>
            <h3>100000</h3>
        </div>
    </section>

    <section class="background">
        <section class="text-center mb-3">
            <p-tabMenu [model]="items" [activeItem]="activeItem"
                (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
        </section>

        <main [ngSwitch]="tab">
            <section *ngSwitchCase="'New Books'" class="flex justify-center gap-3 flex-wrap">
                <figure class="imgFigure cursor-pointer">
                    <img src="assets/img/author-book-store-book-cover-06-300x450.jpg" alt="">
                    <div class="animationInfor flex flex-col justify-center items-center text-white">
                        <h3 class="nameBook text-[30px]">The Winning Story</h3>
                        <h3 class="author text-[20px] underline">Alex sando</h3>
                        <span>* * * * *</span>
                        <h3>1200vnd</h3>
                        <button class="w-[150px] h-10 rounded-3xl border-[2px] border-solid active:bg-black mb-3">Add
                            To Cart</button>
                        <a href="" class="hover:underline">Read more</a>
                    </div>
                    <div class="absolute top-0 bg-red-400 text-white text-[12px] p-2 font-bold">New</div>
                </figure>
                <figure class="imgFigure cursor-pointer">
                    <img src="assets/img/author-book-store-book-cover-06-300x450.jpg" alt="">
                    <div class="animationInfor flex flex-col justify-center items-center text-white">
                        <h3 class="nameBook text-[30px]">The Winning Story</h3>
                        <h3 class="author text-[20px] underline">Alex sando</h3>
                        <span>* * * * *</span>
                        <button class="w-[150px] h-10 rounded-3xl border-[2px] border-solid active:bg-black mb-3">Add
                            To Cart</button>
                        <a href="">Read more</a>
                    </div>
                </figure>
                <figure class="imgFigure cursor-pointer">
                    <img src="assets/img/author-book-store-book-cover-06-300x450.jpg" alt="">
                    <div class="animationInfor flex flex-col justify-center items-center text-white">
                        <h3 class="nameBook text-[30px]">The Winning Story</h3>
                        <h3 class="author text-[20px] underline">Alex sando</h3>
                        <span>* * * * *</span>
                        <button class="w-[150px] h-10 rounded-3xl border-[2px] border-solid active:bg-black mb-3">Add
                            To Cart</button>
                        <a href="">Read more</a>
                    </div>
                </figure>
                <figure class="imgFigure cursor-pointer">
                    <img src="assets/img/author-book-store-book-cover-06-300x450.jpg" alt="">
                    <div class="animationInfor flex flex-col justify-center items-center text-white">
                        <h3 class="nameBook text-[30px]">The Winning Story</h3>
                        <h3 class="author text-[20px] underline">Alex sando</h3>
                        <span>* * * * *</span>
                        <button class="w-[150px] h-10 rounded-3xl border-[2px] border-solid active:bg-black mb-3">Add
                            To Cart</button>
                        <a href="">Read more</a>
                    </div>
                </figure>
                <figure class="imgFigure cursor-pointer">
                    <img src="assets/img/author-book-store-book-cover-06-300x450.jpg" alt="">
                    <div class="animationInfor flex flex-col justify-center items-center text-white">
                        <h3 class="nameBook text-[30px]">The Winning Story</h3>
                        <h3 class="author text-[20px] underline">Alex sando</h3>
                        <span>* * * * *</span>
                        <button class="w-[150px] h-10 rounded-3xl border-[2px] border-solid active:bg-black mb-3">Add
                            To Cart</button>
                        <a href="">Read more</a>
                    </div>
                </figure>
            </section>
            <section *ngSwitchCase="'On Sale'">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, similique, consequuntur ipsum commodi
                ipsa
                autem laboriosam neque omnis nihil hic, quasi necessitatibus adipisci doloribus molestiae. Possimus
                laborum
                maxime cupiditate iure!
            </section>
        </main>
    </section>

    <app-book />
</section>